@import url('https://fonts.googleapis.com/css2?family=Monoton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Quicksand:wght@300;400;500&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Quicksand', sans-serif;
}

html{
  font-size: 62.5%;
}

body{
  height: 100vh;
  color: #5a3e2b;
}

/* font-family: 'Monoton', cursive; */

#root{
  height: 100%;
}